/* PJW Console */
#pjw-console {
  position: fixed;
  margin: 10px 20%;
  bottom: -70px;
  opacity: 0;
  width: 60%;
  font-size: 11px;

  z-index: 100;
  border-radius: 16px;
  transition: bottom .35s ease-out, filter .15s ease-in, opacity .1s ease-out, transform .1s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  filter: drop-shadow(0 0 3px rgba(0, 0, 0, .2));
  background: rgba(255, 255, 255, .9);
}

#pjw-console:active {
  opacity: 0.4 !important;
  transform: scale(0.99);
}

.pjw-console-icon {
  margin: 5px 10px 5px 20px;
  font-size: 18px;
}

.pjw-console-icon.error {
  color: #ff3300;
}

.pjw-console-icon.warning {
  color: #ff8936;
}

.pjw-console-icon.info {
  color: blue;
}

.pjw-console-icon.code {
  color: rgba(0, 0, 0, .6);
}

.pjw-console-icon.done {
  color: limegreen;
}

.pjw-console-icon.alarm {
  color: #9eb314;
}

.pjw-console-icon.favorite {
  color: rgb(255, 99, 144);
}

#pjw-console-history {
  width: 100%;
  max-height: 400px;
  overflow: auto;
  display: none;
  flex-direction: column;
  align-items: stretch;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: rgba(0, 0, 0, .1);
}

.pjw-console-item {
  min-height: 26px;
  padding: 3px 20px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.pjw-console-text {
  overflow-wrap: anywhere;
  hyphens: "-";
}