/* PJW MiniList */

.pjw-minilist {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pjw-minilist-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pjw-minilist-heading > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pjw-minilist-body {
  width: 100%;
  padding: 0 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.pjw-miniclass {
  padding: 3px 6px;
  border-radius: 6px;
  margin: 2px 4px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 12px;
  background: var(--white);
  color: rgba(0, 0, 0, .9);
  border: 1px dotted rgba(99, 6, 95, .7);
}

.pjw-miniclass:hover {
  color: white;
  background: rgba(99, 6, 95, .7);
  border: 1px dotted transparent;
}

.pjw-miniclass:active {
  color: white;
  background: rgba(99, 6, 95, .2);
  border: 1px dotted transparent;
}

.pjw-miniclass-index {
  flex-grow: 0;
  margin: 0 8px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 9px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
}

.pjw-miniclass-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.pjw-miniclass-title {
  font-weight: bold;
  font-size: 14px;
}

.pjw-miniclass-note {
  opacity: .75;
  font-size: 10px;
}

.pjw-miniclass-course-number {
  cursor: pointer;
}

.pjw-miniclass-course-number:hover {
  font-weight: bold;
}

.pjw-miniclass-sideinfo {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.pjw-miniclass-num {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
}

.pjw-miniclass-num > .num {
  font-size: 16px;
  font-weight: bold;
  margin: 0 2px;
}

.pjw-miniclass-num > .label {
  font-size: 11px;
  opacity: .6;
  margin: 0 2px;
}

.pjw-miniclass-operation {
  flex-grow: 0;
}

.pjw-miniclass-button:not(:disabled) {
  height: 30px;
  border-radius: 15px;
  background-color: rgb(164, 199, 21);
  padding: 0 10px;
}

.pjw-miniclass-button > .mdc-button__ripple {
  border-radius: 15px;
}

.pjw-miniclass-button__inner {
  color: rgba(255, 255, 255, .75);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.pjw-miniclass-button__icon {
  font-size: 20px;
}

.pjw-miniclass-button__label {
  font-weight: bold;
  font-size: 16px;
}

/* PJW ClassList */

.pjw-classlist {
  font-size: 12px;
  text-align: left;
  margin-bottom: 50px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  --pjw-dark-background: rgba(54, 79, 125, 1);
}

.pjw-classlist-main {
  margin: 4px 3%;
  width: 94%;
  display: flex;
  flex-direction: row-reverse;
}

/* Heading */

.pjw-classlist-heading {
  margin: 12px 5%;
  width: 90%;
}

.pjw-classlist-selectors {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 6px 20px;
  flex-wrap: wrap;
}

.pjw-classlist-selectors > div {
  margin: 5px 6px;
}

.mdc-select__anchor {
  display: flex;
  width: 100%;
}

#pjw-select-academySelect, #pjw-select-academyList, #pjw-select-courseKindList {
  min-width: 250px;
}


#pjw-select-specialitySelect {
  min-width: 250px;
}

#pjw-select-readRenewType {
  min-width: 250px;
}

.pjw-classlist-controls {
  float: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.pjw-classlist-controls > section {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#autoreload-control-section {
  flex-shrink: 0;
}

#filter-control-section {
  flex-shrink: 0;
}

.pjw-classlist-heading-button {
  background: linear-gradient(220deg, rgba(215, 10, 132), rgba(81, 18, 127));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 5px 25px;
  border-radius: 30px 0 0 30px;
  margin: 0;
}

.pjw-classlist-heading-button > .mdc-button__ripple {
  border-radius: 30px 0 0 30px;
}

.pjw-classlist-heading-switch-button {
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 5px 25px;
  border-radius: 0 30px 30px 0;
  margin: 0;
  border-left: 2px solid white;
}

.pjw-classlist-heading-switch-button.on {
  background: linear-gradient(140deg, rgba(215, 10, 132), rgba(81, 18, 127));
}

.pjw-classlist-heading-switch-button.off {
  background: rgba(0, 0, 0, .7);
}

#pjw-classlist-search-field {
  min-width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pjw-classlist-search-clear {
  outline: none;
  transition: color .1s ease-out;
}

.pjw-classlist-search-clear:hover {
  color: rgba(0, 0, 0, 0.36) !important;
}

.pjw-classlist-search-clear:active {
  color: rgba(0, 0, 0, 0.72) !important;
}

/* Body */

.pjw-classlist-body {
  width: 100%;
  margin: 0 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 0;
}

.pjw-classlist-body__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.pjw-class-container {
  padding: 10px 30px;
  border-radius: 20px;
  margin: 2px 4px;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  order: 0;
  background: linear-gradient(200deg, rgba(99,6,95,.2) 0%, rgba(175,55,232,.2) 73%, rgba(255,71,152,.2) 100%);
  transition: background .2s ease-out;
  flex: 1 0 90%;
}

.pjw-class-container--compressed {
  padding: 8px 24px;
  background: rgba(255, 255, 255, .2);
}

.pjw-class-container--compressed:hover {
  background: rgba(255, 255, 255, .9);
}

.pjw-class-sub {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.pjw-class-sub > div {
  margin: 0 10px;
}

.pjw-class-container--compressed .pjw-class-sub {
  align-self: center;
}

/* Basic Class Info */

.pjw-class-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: max(40%, 250px);
}

.pjw-class-container--compressed .pjw-class-info {
  max-width: 50%;
}

.pjw-class-info-important {
  display: none;
}

.pjw-class-container--compressed .pjw-class-info-important {
  display: block;
}

.pjw-class-container--compressed .pjw-class-info-additional {
  display: none;
}

.pjw-class-info-additional {
  margin-top: 8px;
}

.pjw-class-info-bottom p {
  color: rgba(0, 0, 0, .6);
}

.pjw-class-container--compressed .pjw-class-info-bottom p {
  margin: 2px 0;
}

.pjw-class-course-number {
  flex-direction: row;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: color .1s ease-out;
}

.pjw-class-course-number:hover {
  color: var(--black);
}

.pjw-class-title {
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, .9);
  margin-right: 4px;
}

.pjw-class-teacher {
  font-size: 14px;
  color: rgba(0, 0, 0, .75);
}

.pjw-class-info-top {
  display: flex;
  flex-direction: column;
}

.pjw-class-name-initial {
  font-size: 15.5px;
}

/* Weekly Calendar */

.pjw-class-weekcal {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, .05);
  justify-content: space-around;
  user-select: none;
}

.pjw-class-container--compressed .pjw-class-weekcal {
  background-color: transparent;
}

.pjw-class-weekcal-heading {
  margin: 2px;
  border: 2px solid rgba(0, 0, 0, .3);
  border-radius: 18px;
  height: 34px;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pjw-class-container--compressed .pjw-class-weekcal-heading {
  cursor: pointer;
}

.pjw-class-weekcal-heading-day {
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 30px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  margin: 0;
  border-radius: 15px;
}

.pjw-class-weekcal-heading-day.selected {
  color: white;
  background-color: var(--pjw-dark-background);
  margin: 0 2px;
}

.pjw-class-weekcal-heading-day.selected > canvas.pjw-class-weekcal-arc {
  display: none;
}

.pjw-class-weekcal-heading-day.selected > canvas.pjw-class-weekcal-arc-white {
  display: block;
}

.pjw-class-container--compressed .pjw-class-weekcal-heading-day.selected {
  background-color: rgba(0, 0, 0, .8);
}

.pjw-class-container--compressed .pjw-class-weekcal-heading-day.selected > canvas.pjw-class-weekcal-arc {
  display: block;
}

.pjw-class-container--compressed .pjw-class-weekcal-heading-day.selected > canvas.pjw-class-weekcal-arc-white {
  display: none;
}

.pjw-class-weekcal-heading-day.selected > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.pjw-class-weekcal-calendar {
  display: flex;
  flex-direction: row;
  padding: 0 7px;
  margin-bottom: 4px;
}

.pjw-class-container--compressed .pjw-class-weekcal-calendar {
  display: none;
}

.pjw-class-weekcal-calendar-day {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.pjw-class-weekcal-calendar-day.selected {
  display: flex;
  margin: 0 2px;
}

.pjw-class-weekcal-calendar-day > span {
  color: rgba(0, 0, 0, .6);
  font-size: 11px;
  font-family: 'Helvetica Neue', 'Microsoft YaHei', sans-serif;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 9px;
  margin: 2px 6px;
}

.pjw-classlist-body .pjw-class-weekcal-calendar-day > span.selected {
  border: 0;
  border-radius: 0;
  color: white;
  font-weight: bold;
  background-color: var(--pjw-dark-background);
  height: 23px;
  margin: 0 7px;
  white-space: nowrap;
}

.pjw-class-weekcal-calendar-day > span.selected.sel-start {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 21px;
  margin-top: 2px;
}

.pjw-class-weekcal-calendar-day > span.selected.sel-end {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  height: 21px;
  margin-bottom: 2px;
}

.pjw-class-weekcal-calendar-day > span.selected.sel-odd-class::after {
  content: "单";
  vertical-align: sub;
  font-size: 8px;
}

.pjw-class-weekcal-calendar-day > span.selected.sel-even-class::after {
  content: "双";
  vertical-align: sub;
  font-size: 8px;
}

/* Class Info (Numbers Part) */

.pjw-class-sideinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.pjw-class-places {
  display: none;
}

.pjw-class-places > span {
  text-align: center;
  font-size: 12px;
  color: transparent;
  background: linear-gradient(95deg, rgba(81, 18, 127, 1), rgba(123, 11, 94, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
}

.pjw-class-container--compressed .pjw-class-places {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pjw-class-time-detail {
  color: rgba(0, 0, 0, .6);
  margin: 3px;
}

.pjw-class-container--compressed .pjw-class-time-detail {
  display: none;
}

.pjw-class-weeknums {
  display: none;
  background: linear-gradient(95deg, rgba(229, 119, 180, 1), rgba(123, 11, 94, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
}

.pjw-class-container--compressed .pjw-class-weeknums {
  display: block;
}

.pjw-class-weeknums > span {
  line-height: 14px;
  vertical-align: middle;
  font-size: 7px;
  font-weight: bold;
  color: rgba(0, 0, 0, .6);
  margin: 0 1px;
}

.pjw-class-weeknum-bar {
  height: 18px;
  width: 180px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  position: relative;
  margin: 6px 0;
}

.pjw-class-container--compressed .pjw-class-sideinfo .pjw-class-weeknum-bar {
  display: none;
}

.pjw-class-container--compressed .pjw-class-weeknum-bar {
  width: 150px;
  cursor: pointer;
}

.pjw-class-weeknum-bar__fill {
  position: absolute;
  height: 18px;
  border-radius: 10px;
  background: linear-gradient(95deg, var(--pjw-dark-background), rgba(123, 11, 94, 1));
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  line-height: 18px;
}

.pjw-class-num-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 6px 2px 2px 2px;
}

.pjw-class-container--compressed .pjw-class-num-info {
  justify-content: center;
}

.pjw-class-bignum {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pjw-class-container--compressed .pjw-class-bignum {
  margin: 0 10px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  cursor: pointer;
  user-select: none;
}

.pjw-class-bignum > .num {
  white-space: nowrap;
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.pjw-class-container--compressed .pjw-class-bignum > .num {
  font-size: 22px;
  line-height: 22px;
  margin: 0 2px;
}

.pjw-class-bignum > .label {
  color: rgba(0, 0, 0, .6);
}

.pjw-class-container--compressed .pjw-class-bignum > .label {
  font-size: 12px;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Class Operations */

.pjw-class-operation {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-around;
  align-items: center;
}

.pjw-class-container--compressed .pjw-class-operation {
  flex-direction: row;
  padding: 0 10px;
}

.pjw-class-select-button {
  min-width: 120px;
  background: linear-gradient(114deg, rgba(81, 18, 127, .9) 0%, rgba(215, 10, 132, .9) 100%);
  border-radius: 25px;
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
  min-height: 50px;
  margin: 8px 5px;
}

.pjw-class-select-button > .mdc-button__ripple {
  border-radius: 25px;
}

.pjw-class-select-button.deselect {
  background: darkred;
}

.pjw-class-select-button:disabled {
  color: rgba(0, 0, 0, .5);
  background: rgba(0, 0, 0, .3);
}

.pjw-class-select-button__container {
  margin-left: 20px;
}

.pjw-class-select-button__container > div {
  white-space: nowrap;
}

.pjw-class-select-button__label {
  font-size: 16px;
  font-weight: bold;
}

.pjw-class-select-button__status {
  font-size: 10px;
}

.pjw-class-splitter {
  background-color:rgba(0, 0, 0, .3);
  margin: 6px;
  border-radius: 2px;
  width: 4px;
  height: 4px;
  display: none;
}

.pjw-class-container--compressed .pjw-class-splitter {
  display: block;
}

.pjw-class-menu-button {
  width: 40px;
  height: 40px;
  margin: 5px;
  transition: margin .15s ease-out;
}

.pjw-class-container--compressed .pjw-class-menu-button {
  width: 28px;
  height: 28px;
  margin: 2px;
}

.pjw-class-menu-icon {
  font-size: 18px !important;
}

/* Fit Screen Size */
.view-narrow-desktop .pjw-class-sub {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.view-narrow-desktop .pjw-class-operation {
  flex-direction: column;
  padding: 5px 0;
}
.view-narrow-desktop .pjw-class-places > span {
  display: none;
}
.view-single-column .pjw-classlist-main {
  flex-direction: column;
}
.view-mobile .pjw-class-container {
  flex-direction: column;
}
.view-mobile .pjw-class-info {
  max-width: 100%;
  width: 100%;
}
.view-mobile .pjw-class-operation {
  flex-direction: row;
  justify-content: center;
}
.view-mobile .pjw-class-info-top {
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}