.pjw-filter-panel {
  color: rgba(0, 0, 0, .4);
  margin: 0 0 10px 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(-20deg, #b6dcff, #b9b6e5);
  --mdc-theme-secondary: rgb(16, 89, 223);
  
  display: flex;
  flex-direction: column;
  flex-basis: 10%;

  height: fit-content;
  height: -moz-fit-content;
  min-width: 320px;
}

.view-single-column .pjw-filter-panel {
  min-width: none;
  margin-right: 10px;
}

.pjw-filter-panel > div {
  margin: 6px 0;
}

.pjw-filter-panel .pjw-filter-module-title {
  display: block;
  color: rgba(0, 0, 0, .7);
  margin: 2px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.pjw-filter-panel .content {
  padding: 8px 12px;
}

.pjw-filter-panel .pjw-filter-module-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pjw-filter-panel .pjw-filter-module-icon {
  font-size: 24px;
  margin: 5px;
  color: rgba(0, 0, 0, .7);
}

.pjw-filter-module-title__container {
  margin: 0 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pjw-filter-module-info {
  font-size: 10px;
}

.pjw-filter-panel .mdc-switch {
  margin: 5px 10px;
}

.pjw-switch-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
}

#pjw-hours-filter > .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#pjw-hours-filter .pjw-class-weekcal-heading-day {
  cursor: pointer;
  transition: color .1s ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#pjw-hours-filter .pjw-class-weekcal-heading-day:hover {
  color: var(--white);
}

#pjw-hours-filter .pjw-class-weekcal-heading-day:active {
  opacity: .5;
}

#pjw-hours-filter .pjw-class-weekcal-heading-day:not(.select-all):hover::after {
  content: "arrow_downward";
  font-family: "Material Icons Round";
}

#pjw-hours-filter .pjw-class-weekcal-calendar-day > span {
  cursor: pointer;
}

#pjw-hours-filter .pjw-class-weekcal-calendar-day > span:hover {
  color: rgba(255, 255, 255, .7);
  background-color: rgba(0, 0, 0, .2);
}

#pjw-hours-filter .pjw-class-weekcal-calendar-day > span:active {
  color: rgba(255, 255, 255, .4);
  background-color: rgba(0, 0, 0, .8);
}

#pjw-hours-filter .pjw-class-weekcal-calendar-day > span.selected {
  text-decoration: line-through;
  color: rgba(255, 255, 255, .7);
  background-color: rgba(0, 0, 0, .5);
}

#pjw-hours-filter .pjw-class-weekcal-calendar-day > span.selected:hover {
  color: rgba(255, 255, 255, .7);
  background-color: rgba(0, 0, 0, .4);
}

#pjw-hours-filter .pjw-class-weekcal-calendar-day > span.selected:active {
  color: rgba(255, 255, 255, .4);
  background-color: rgba(0, 0, 0, .8);
}

#pjw-hours-filter .select-time > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-weight: bold;
  font-size: 10px;
  color: rgba(0, 0, 0, .6);

  height: 16px;
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  line-height: 16px;
  margin: 3px;

  cursor: pointer;
}


#pjw-hours-filter .select-time > div:hover {
  color: var(--white);
}

#pjw-hours-filter .select-time > div:active {
  opacity: .5;
}

#pjw-hours-filter .select-time > div:hover::after {
  content: "arrow_right";
  font-family: "Material Icons Round";
}

#pjw-hours-filter-control {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 6px;
}

#pjw-hours-filter-control .pjw-mini-button {
  color: var(--pjw-dark-background);
}

#pjw-hours-filter-control .pjw-mini-button:hover {
  color: rgb(208, 196, 16);
}

#pjw-hours-filter-control > section {
  margin: 4px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pjw-filter-advanced-list-item {
  flex-direction: row;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.pjw-filter-advanced-list-delete {
  font-size: 16px;
  margin-right: 3px;
}

.pjw-filter-advanced-list-delete:hover {
  color: rgba(0, 0, 0, 0.72) !important;
}

.acl-major-switch-button {
  cursor: pointer;
}

#frozen-icon {
  cursor: pointer;
}

#frozen-quotes {
  font-size: 12px;
  color: rgba(0, 0, 0, .35);
}