/* PJW ClassList */

.pjw-classlist {
  text-align: left;
  margin-bottom: 50px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  --pjw-dark-background: rgba(54, 79, 125, 1);
}

/* Heading */

.pjw-classlist-heading {
  margin: 12px 5%;
  width: 90%;
}

.pjw-classlist-selectors {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 6px 20px;
  flex-wrap: wrap;
}

.pjw-classlist-selectors > div {
  margin: 5px 6px;
}

.mdc-select__anchor {
  display: flex;
  width: 100%;
}

#pjw-select-academyList {
  min-width: 300px;
}

#pjw-select-academySelect {
  min-width: 350px;
}

#pjw-select-specialitySelect {
  min-width: 300px;
}

#pjw-select-termList {
  min-width: 300px;
}

.pjw-classlist-controls {
  float: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.pjw-classlist-controls > section {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#autoreload-control-section {
  flex-shrink: 0;
}

#filter-control-section {
  flex-shrink: 0;
}

.pjw-classlist-heading-button {
  background: linear-gradient(220deg, rgba(215, 10, 132), rgba(81, 18, 127));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 5px 25px;
  border-radius: 30px 0 0 30px;
  margin: 0;
}

.pjw-classlist-heading-button > .mdc-button__ripple {
  border-radius: 30px 0 0 30px;
}

.pjw-classlist-heading-switch-button {
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 5px 25px;
  border-radius: 0 30px 30px 0;
  margin: 0;
  border-left: 2px solid white;
}

.pjw-classlist-heading-switch-button.on {
  background: linear-gradient(140deg, rgba(215, 10, 132), rgba(81, 18, 127));
}

.pjw-classlist-heading-switch-button.off {
  background: rgba(0, 0, 0, .7);
}

#pjw-classlist-search-field {
  min-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Body */

.pjw-classlist-body {
  margin: 0 5%;
  width: 90%;
  top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.pjw-class-container {
  padding: 10px 30px;
  border-radius: 20px;
  margin: 2px 0;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  order: 0;
  background: linear-gradient(200deg, rgba(99,6,95,.2) 0%, rgba(175,55,232,.2) 73%, rgba(255,71,152,.2) 100%);
  transition: background .2s ease-out;
}

.pjw-class-container--compressed {
  padding: 8px 24px;
  background: rgba(255, 255, 255, .2);
}

.pjw-class-container--compressed:hover {
  background: rgba(255, 255, 255, .9);
}

.pjw-class-sub {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.pjw-class-sub > div {
  margin: 0 10px;
}

.pjw-class-container--compressed .pjw-class-sub {
  align-self: center;
}

/* Basic Class Info */

.pjw-class-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: max(20%, 250px);
}

.pjw-class-container--compressed .pjw-class-info {
  max-width: 50%;
}

.pjw-class-container--compressed .pjw-class-info-additional {
  display: none;
}

.pjw-class-info-bottom {
  margin-top: 8px;
}

.pjw-class-info-bottom p {
  color: rgba(0, 0, 0, .6);
}

.pjw-class-container--compressed .pjw-class-info-bottom p {
  margin: 2px 0;
}

.pjw-class-course-number {
  cursor: pointer;
  transition: color .1s ease-out;
}

.pjw-class-course-number:hover {
  color: var(--black);
}


.pjw-class-title {
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, .9);
}

.pjw-class-teacher {
  font-size: 14px;
  color: rgba(0, 0, 0, .75);
}

.pjw-class-info-top > p {
  margin: 0;
}

.pjw-class-name-initial {
  font-size: 15.5px;
}

/* Weekly Calendar */

.pjw-class-weekcal {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, .05);
  padding: 6px;
  justify-content: space-around;
  user-select: none;
}

.pjw-class-container--compressed .pjw-class-weekcal {
  background-color: transparent;
}

.pjw-class-weekcal-heading {
  border: 2px solid rgba(0, 0, 0, .3);
  border-radius: 18px;
  height: 34px;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pjw-class-container--compressed .pjw-class-weekcal-heading {
  margin: 10px 0;
  cursor: pointer;
}

.pjw-class-weekcal-heading-day {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 30px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  margin: 0;
  border-radius: 15px;
}

.pjw-class-weekcal-heading-day.selected {
  color: white;
  background-color: var(--pjw-dark-background);
  margin: 0 2px;
}

.pjw-class-weekcal-calendar {
  display: flex;
  flex-direction: row;
  padding: 0 7px;
}

.pjw-class-container--compressed .pjw-class-weekcal-calendar {
  display: none;
}

.pjw-class-weekcal-calendar-day {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.pjw-class-weekcal-calendar-day.selected {
  display: flex;
  margin: 0 2px;
}

.pjw-class-weekcal-calendar-day > span {
  color: rgba(0, 0, 0, .6);
  font-size: 11px;
  font-family: 'Helvetica Neue', 'Microsoft YaHei', sans-serif;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 9px;
  margin: 2px 6px;
}

.pjw-classlist-body .pjw-class-weekcal-calendar-day > span.selected {
  border: 0;
  border-radius: 0;
  color: white;
  font-weight: bold;
  background-color: var(--pjw-dark-background);
  height: 23px;
  margin: 0 7px;
  white-space: nowrap;
}

.pjw-class-weekcal-calendar-day > span.selected.sel-start {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 21px;
  margin-top: 2px;
}

.pjw-class-weekcal-calendar-day > span.selected.sel-end {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  height: 21px;
  margin-bottom: 2px;
}

.pjw-class-weekcal-calendar-day > span.selected.sel-odd-class::after {
  content: "单";
  vertical-align: sub;
  font-size: 8px;
}

.pjw-class-weekcal-calendar-day > span.selected.sel-even-class::after {
  content: "双";
  vertical-align: sub;
  font-size: 8px;
}

/* Class Info (Numbers Part) */

.pjw-class-sideinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.pjw-class-time-detail {
  color: rgba(0, 0, 0, .6);
}

.pjw-class-container--compressed .pjw-class-time-detail {
  display: none;
}

.pjw-class-weeknum-bar {
  height: 16px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 9px;
  position: relative;
  margin: 6px 0;
}

.pjw-class-container--compressed .pjw-class-weeknum-bar {
  width: 180px;
  cursor: pointer;
}

.pjw-class-weeknum-bar__fill {
  position: absolute;
  height: 16px;
  border-radius: 9px;
  background: linear-gradient(95deg, var(--pjw-dark-background), rgba(123, 11, 94, 1));
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  line-height: 16px;
}

.pjw-class-num-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pjw-class-container--compressed .pjw-class-num-info {
  justify-content: center;
}

.pjw-class-bignum {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pjw-class-container--compressed .pjw-class-bignum {
  margin: 0 10px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  cursor: pointer;
  user-select: none;
}

.pjw-class-bignum > .num {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.pjw-class-container--compressed .pjw-class-bignum > .num {
  font-size: 24px;
  line-height: 24px;
  margin: 0 2px;
}

.pjw-class-bignum > .label {
  color: rgba(0, 0, 0, .6);
}

.pjw-class-container--compressed .pjw-class-bignum > .label {
  font-size: 12px;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Class Operations */

.pjw-class-operation {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  justify-content: space-around;
  align-items: center;
}

.pjw-class-container--compressed .pjw-class-operation {
  flex-direction: row;
  padding: 0 10px;
}

.pjw-class-select-button {
  min-width: 120px;
  background: linear-gradient(114deg, rgba(81, 18, 127, .9) 0%, rgba(215, 10, 132, .9) 100%);
}

.pjw-class-select-button.deselect {
  background: darkred;
}

.pjw-class-select-button:disabled {
  color: rgba(0, 0, 0, .5);
  background: rgba(0, 0, 0, .3);
}

.pjw-class-comment-button {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  background: linear-gradient(-45deg, rgba(215, 10, 132, .9), rgba(248, 111, 100, .9));
  padding: 0;
}

.pjw-class-comment-icon {
  font-size: 24px;
}

.pjw-class-operation > button {
  border-radius: 25px;
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
  min-height: 50px;
  margin: 8px 5px;
}

.pjw-class-operation > button > .mdc-button__ripple {
  border-radius: 25px;
}

.pjw-class-select-button__container {
  margin-left: 20px;
}

.pjw-class-select-button__container > div {
  white-space: nowrap;
}

.pjw-class-select-button__label {
  font-size: 16px;
  font-weight: bold;
}

.pjw-class-select-button__status {
  font-size: 10px;
}

.pjw-class-comment-button__container {
  display: flex;
  flex-direction: column;
}

.pjw-class-comment-button__status {
  font-size: 9px;
  letter-spacing: 0;
}

/* PJW Console */
#pjw-console {
  position: fixed;
  margin: 10px 20%;
  bottom: -70px;
  opacity: 0;
  width: 60%;

  z-index: 100;
  border-radius: 20px;
  transition: all .4s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  filter: drop-shadow(3px -4px 6px rgba(0, 0, 0, .2));
  background: rgba(255, 255, 255, .9);
}

.pjw-console-icon {
  margin: 5px 10px 5px 20px;
  font-size: 21px;
}

.pjw-console-icon.error {
  color: #ff3300;
}

.pjw-console-icon.warning {
  color: #ff8936;
}

.pjw-console-icon.info {
  color: blue;
}

.pjw-console-icon.code {
  color: rgba(0, 0, 0, .6);
}

.pjw-console-icon.done {
  color: limegreen;
}

.pjw-console-icon.alarm {
  color: #9eb314;
}

#pjw-console-history {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(0, 0, 0, .1);
}

.pjw-console-item {
  min-height: 34px;
  padding: 3px 20px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.pjw-console-text {
  overflow-wrap: anywhere;
  hyphens: "-";
}

.narrow-desktop .pjw-class-sub {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.narrow-desktop .pjw-class-operation {
  flex-direction: column;
  padding: 20px 0;
}

.pjw-classlist-bottom {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pjw-classlist-bottom > p {
  text-align: center;
  font-size: 11px;
  color: rgba(0, 0, 0, .5);
  margin-left: 6px;
}
