/* PJW Toolbar (Legacy) */
#pjw-toolbar {
  font-size: 13px;
  position: fixed;
  left: 5%;
  bottom: 20px;
  width: 90%;
  height: auto;
  background-color: #63065f;
  border-radius: 18px;
  color: white;
  padding: 7px 7px 7px 7px;
  opacity: 0.8;
  transition: left .3s ease-out, opacity .3s ease-out;
}

#pjw-toolbar-content {
  margin-left: 53px;
}

.about-proj {
  margin-top: 3px;
  font-size: 12px;
  color: #c1c1c1;
  clear: both;
}

#pjw-toolbar-collapse-bg {
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: #63065f;
  border-radius: 18px 0 0 18px;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

#pjw-toolbar-collapse-bg:hover {
  background-color: rgba(255, 255, 255, .6);
}

#pjw-toolbar-collapse {
  background-color: white;
  cursor: pointer;
  border: 2px solid #63065f;
  position: absolute;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  left: 0;
  top: calc(50% - 17px);
  border-radius: 50%;
  padding: 0;
  transition: transform .3s ease-out, left .2s ease-out, bottom .2s ease-out;
}

/* PJW Mini Button */
.pjw-mini-button {
  display: inline-block;
  font-size: 14px; font-weight: bold;
  border: 0; border-radius: 7px;
  background-color: white; color: #63065f;
  user-select: none; cursor: pointer;
  padding: 1px 7px;
  margin: 2px 5px;
  transition: all .1s ease-in;
}

.pjw-mini-button:hover {
  color: #f37232;
  border-radius: 10px;
  padding: 1px 10px;
  margin: 2px;
}

.pjw-mini-button:active {
  color: #c1c1c1;
  background-color: rgba(255, 255, 255, .8);
}

@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: 
    url("chrome-extension://__MSG_@@extension_id__/fonts/Material Icons Round.woff2") format('woff2'),
    url("https://fonts.gstatic.com/s/materialiconsround/v26/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmPq_HTTw.woff2") format('woff2'),
    url("https://cubiccm.github.io/Material%20Icons%20Round.woff2") format('woff2');
}

.material-icons-round {
  font-family: 'Material Icons Round' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  user-select: none;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

:root {
  --white: rgba(255, 255, 255, .9);
  --black: rgba(0, 0, 0, .9);
  --gray: rgba(255, 255, 255, .5);
}

body {
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
  display: block !important;
  background: rgba(0, 0, 0, .05) !important;
}

body * {
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

#courseList {
  height: auto !important;
  overflow: hidden !important;
}

#UserInfo {
  color: var(--white) !important;
}

#Header {
  background: linear-gradient(50deg, rgba(99, 6, 95, 0.9) 0%, rgba(93, 42, 175, 0.9) 60%, rgba(255, 71, 71, 0.9) 100%) !important;

  height: auto !important;
}

#Nav {
  position: static !important;
  margin-top: 10px !important;
}

#Nav > ul {
  display: flex;
}

#Nav > ul > li {
  border-radius: 18px 18px 0 0;
  background: none !important;
  display: block;
  transition: background .12s ease-out;
}

#Nav > ul > li:hover {
  border-color: var(--gray);
  background: rgba(255, 255, 255, .3) !important;
}

#Nav > ul > li:active {
  background: rgba(255, 255, 255, .9) !important;
}

#Nav > ul > li > a {
  color: rgba(255, 255, 255, .65) !important;
  transition: all .1s ease-out;
  font-weight: normal !important;
  font-size: 105%;
}

#Nav > ul > li > a:hover {
  color: var(--white) !important;
  font-size: 125%;
  font-weight: bold !important;
  background: none !important;
}

#Nav > ul > li > a:active {
  color: rgba(0, 0, 0, .3) !important;
  font-size: 115%;
}

#Header > #Logo {
  position: relative;
  left: 5px; top: 5px;
  opacity: 0.9;
  display: inline-block;
}

#Header > #Logo > a {
  content: url("https://www.nju.edu.cn/_upload/tpl/01/36/310/template310/images/logo.png");
  height: 50px;
}

#Header > #Logo:after {
  content: "教务系统 Educational Administration System";
  color: var(--white);
  font-size: 16px;
  position: relative;
  top: -8px;
  left: -5px;
  font-style: italic;
}

#TopLink > a {
  /*color: var(--white) !important;*/
  font-weight: normal !important;
}

#pjw-user-info {
  display: flex;
  padding: 4px 8px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, .2);
  font-size: 14px;
  border-radius: 12px;
  transition: all .1s ease-out;
  cursor: pointer;
  user-select: none;
}

#pjw-user-info:hover {
  color: rgba(0, 0, 0, .5);
  background-color: rgba(255, 255, 255, .9);
}

#pjw-user-type {
  background-color: rgba(30, 107, 235, 1);
  font-size: 11px;
  border-radius: 7px;
  padding: 1px 3px;
  vertical-align: middle;
  text-align: center;
  margin: 2px 3px;
  color: var(--white) !important;
  cursor: wait;
}

.Line {
  opacity: 0;
}

#pjw-welcome {
  width: 90%;
  max-width: 600px;
  margin: 20px min(5%, 25px);
  background: linear-gradient(-70deg, #ff6390, #9995ef);
  border-radius: 30px;
  color: rgba(255, 255, 255, .82) !important;
  padding: 12px 24px;
}

#pjw-welcome > * {
  margin: 6px 0;
}

#pjw-welcome hr {
  border-style: dotted;
  opacity: .6;
}

#pjw-welcome heading {
  margin: 10px 0;
  font-weight: bold;
  font-size: 24px;
  color: rgba(255, 255, 255, .9) !important;
}

#pjw-welcome p {
  margin: 4px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, .82) !important;
}

#pjw-welcome note {
  margin: 2px 0;
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, .75) !important;
}

#pjw-welcome a {
  margin: 0 5px;
  font-size: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, .75) !important;
  transition: color .1s ease-out;
}

#pjw-welcome a:hover {
  color: rgba(255, 255, 255, 1) !important;
}

#pjw-logout-button {
  color: darkred;
}

#pjw-logout-button:hover {
  color: red;
}

#Function.light {
  background: rgba(0, 0, 0, .15);
}

#Function.light > ul > li {
  background: rgba(255, 255, 255, .5);
}

#Function.light > ul > li a {
  color: rgba(0, 0, 0, .6) !important;
}

#Function.light > ul > li a > img {
  opacity: 1;
}

#Function {
  border-radius: 18px;
  background: rgba(0, 0, 0, .6);
  margin: 25px !important;
  padding: 10px;
  transform: background 1.2s ease-in;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

#Function > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#Function > ul > li {
  border-radius: 8px;
  padding: 20px 6px;
  margin: 5px 3px;
  transition: all .4s cubic-bezier(0, 1, 1, 1);
  background: var(--black);
  user-select: none;
}

#Function > ul > li:hover {
  padding: 22px 0;
  margin: 3px 9px;
  border-radius: 18px;
  background: rgba(0, 0, 0, .7);
}

#Function > ul > li:active {
  transform: scale(1.05);
  background: rgba(0, 0, 0, .9);
}

#Function > ul > li:hover a {
  color: var(--white) !important;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1.2);
}

#Function > ul > li:hover a:after {
  content: ">";
  margin-left: 3px;
  font-size: 12px;
}

#Function > ul > li a {
  color: var(--white) !important;
  font-size: 120%;
  transition: all .2s ease-out;
}

#Function > ul > li a > img {
  opacity: 0;
  transition: all .17s ease-in;
  width: 50%;
}

#Function > ul > li:hover a > img {
  transform: scale(1.1);
}

#potatojw_mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 9000;
}
#potatojw_filter_setting_frame {
  display: none;
  position: fixed;
  left: 15%;
  top: 15%;
  bottom: 5px;
  width: 70%;
  height: auto;
  z-index: 9001;
  background-color: #63065f;
  border-radius: 8px;
  padding: 15px;
  color: white;
  overflow: auto;
}
.filter_section {
  display: none;
}
#filter-control-bar {
  user-select: none;
}
#filter-control-bar > section {
  float: left;
  margin-right: 25px;
  margin-bottom: 5px;
}
#pjw-toolbar-collapse-bg {
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: #63065f;
  border-radius: 18px 0 0 18px;
  transition: background-color .2s ease-out;
  cursor: pointer;
}
#pjw-toolbar-collapse-bg:hover {
  background-color: rgba(255, 255, 255, .6);
}
#pjw-toolbar-collapse {
  background-color: white;
  cursor: pointer;
  border: 2px solid #63065f;
  position: absolute;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  left: 0;
  top: calc(50% - 17px);
  border-radius: 50%;
  padding: 0;
  transition: transform .3s ease-out, left .2s ease-out, bottom .2s ease-out;
}

.click-to-show {
  font-size: 18px;
  opacity: .6;
  transition: opacity .2s ease-out;
  cursor: pointer;
}

.click-to-show:hover {
  opacity: 1;
}

.pjw-mini-brand {
  user-select: none;
  margin-top: 3px;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pjw-mini-brand > p {
  text-align: center;
  color: rgba(0, 0, 0, .5);
  margin: 3px;
}
.pjw-mini-brand > span {
  margin-right: 6px;
  color: rgba(0, 0, 0, .5);
}