/* PJW Toolbar (Legacy) */
#pjw-toolbar {
  font-size: 13px;
  position: fixed;
  left: 5%;
  bottom: 20px;
  width: 90%;
  height: auto;
  background-color: #63065f;
  border-radius: 18px;
  color: white;
  padding: 7px 7px 7px 7px;
  opacity: 0.8;
  transition: left .3s ease-out, opacity .3s ease-out;
}

#pjw-toolbar-content {
  margin-left: 53px;
}

.about-proj {
  margin-top: 3px;
  font-size: 12px;
  color: #c1c1c1;
  clear: both;
}

#pjw-toolbar-collapse-bg {
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: #63065f;
  border-radius: 18px 0 0 18px;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

#pjw-toolbar-collapse-bg:hover {
  background-color: rgba(255, 255, 255, .6);
}

#pjw-toolbar-collapse {
  background-color: white;
  cursor: pointer;
  border: 2px solid #63065f;
  position: absolute;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  left: 0;
  top: calc(50% - 17px);
  border-radius: 50%;
  padding: 0;
  transition: transform .3s ease-out, left .2s ease-out, bottom .2s ease-out;
}

/* PJW Mini Button */
.pjw-mini-button {
  display: inline-block;
  font-size: 14px; font-weight: bold;
  border: 0; border-radius: 7px;
  background-color: rgba(255, 255, 255, .8);
  color: #63065f;
  user-select: none;
  cursor: pointer;
  padding: 1px 7px;
  margin: 2px 5px;
  transition: all .1s ease-in;
  min-height: 22px;
  line-height: 22px;
}

.pjw-mini-button.disabled {
  color: gray !important;
  cursor: default;
  pointer-events: none;
}

.pjw-mini-button.keep-hover {
  background: rgba(255, 255, 255, 1);
  color: #f37232;
  border-radius: 10px;
  padding: 1px 10px;
  margin: 2px;
}

.pjw-mini-button:not(.disabled):hover {
  background: rgba(255, 255, 255, 1);
  color: #f37232;
  border-radius: 10px;
  padding: 1px 10px;
  margin: 2px;
}

.pjw-mini-button:not(.disabled):active {
  color: #c1c1c1 !important;
  background-color: rgba(255, 255, 255, .9);
}

:root {
  --white: rgba(255, 255, 255, .9);
  --black: rgba(0, 0, 0, .9);
  --gray: rgba(255, 255, 255, .5);
  --card-background: #4b5e7b;
}

body {
  display: block !important;
  background: rgba(0, 0, 0, .05) !important;
}

#courseList {
  height: auto !important;
  overflow: hidden !important;
}

#UserInfo {
  color: var(--white) !important;
}

#Header {
  background: linear-gradient(50deg, rgba(99, 6, 95, 0.9) 0%, rgba(93, 42, 175, 0.9) 60%, rgba(255, 71, 71, 0.9) 100%) !important;

  height: auto !important;
}

#Nav {
  position: static !important;
  margin-top: 10px !important;
}

#Nav > ul {
  display: flex;
}

#Nav > ul > li {
  border-radius: 18px 18px 0 0;
  background: none !important;
  display: block;
  transition: background .12s ease-out;
}

#Nav > ul > li:hover {
  border-color: var(--gray);
  background: rgba(255, 255, 255, .3) !important;
}

#Nav > ul > li:active {
  background: rgba(255, 255, 255, .9) !important;
}

#Nav > ul > li > a {
  color: rgba(255, 255, 255, .65) !important;
  transition: all .1s ease-out;
  font-weight: normal !important;
  font-size: 105%;
}

#Nav > ul > li > a:hover {
  color: var(--white) !important;
  font-size: 125%;
  font-weight: bold !important;
  background: none !important;
}

#Nav > ul > li > a:active {
  color: rgba(0, 0, 0, .3) !important;
  font-size: 115%;
}

#Header > #Logo {
  position: relative;
  left: 5px; top: 5px;
  opacity: 0.9;
  display: inline-block;
}

#Header > #Logo > a {
  content: url("https://www.nju.edu.cn/_upload/tpl/01/36/310/template310/images/logo.png");
  height: 50px;
}

#Header > #Logo:after {
  content: "教务系统 Educational Administration System";
  color: var(--white);
  font-size: 16px;
  position: relative;
  top: -8px;
  left: -5px;
  font-style: bold;
}

#TopLink > a {
  /*color: var(--white) !important;*/
  font-weight: normal !important;
}

#pjw-user-info {
  display: flex;
  padding: 4px 8px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, .2);
  font-size: 14px;
  border-radius: 12px;
  transition: all .1s ease-out;
  cursor: pointer;
  user-select: none;
}

#pjw-user-info:hover {
  color: rgba(0, 0, 0, .5);
  background-color: rgba(255, 255, 255, .9);
}

#pjw-user-type {
  background-color: rgba(30, 107, 235, 1);
  font-size: 11px;
  border-radius: 7px;
  padding: 1px 3px;
  vertical-align: middle;
  text-align: center;
  margin: 2px 3px;
  color: var(--white) !important;
  cursor: wait;
}

#pjw-logout-button {
  color: darkred;
}

#pjw-logout-button:hover {
  color: red;
}

.Line {
  opacity: 0;
}

/* pjw-card */
.pjw-card {
  margin: 20px min(5%, 25px);
  border-radius: 30px;
  color: rgba(255, 255, 255, .82) !important;
  padding: 12px 24px;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

.pjw-card > * {
  margin: 6px 0;
}

.pjw-card hr {
  border-style: dotted;
  opacity: .6;
}

.pjw-card heading {
  margin: 10px 0;
  font-weight: bold;
  font-size: 24px;
  color: rgba(255, 255, 255, .9) !important;
}

.pjw-card subheading {
  margin: 4px 0 8px 0;
  font-size: 18px;
  color: rgba(255, 255, 255, .9) !important;
}

.pjw-card p {
  margin: 4px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, .82) !important;
}

.pjw-card note {
  margin: 2px 0;
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, .75) !important;
}

.pjw-card a {
  margin: 0 5px;
  font-size: inherit;
  text-decoration: none !important;
  color: rgba(255, 255, 255, .75) !important;
  transition: color .1s ease-out;
}

.pjw-card a:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.pjw-card num {
  font-weight: bold;
  margin: 0 3px;
}

#pjw-union-panel {
  background: linear-gradient(-70deg, rgb(154, 110, 179), rgb(67, 126, 202));
}

#pjw-union-panel .pjw-mini-button {
  color: darkblue;
}

#pjw-union-panel .pjw-mini-button:hover {
  color: rgb(88 150 185);
}

#pjw-welcome {
  width: 90%;
  max-width: 600px;
  background: var(--card-background);
}

#pjw-menu {
  background: linear-gradient(-70deg, rgb(154, 110, 179), rgb(67, 126, 202));
  --mdc-theme-primary: #63065f;
}

#pjw-menu > * {
  margin: 6px;
}

#pjw-menu .pjw-menu-button, #pjw-menu .mdc-button__ripple {
  border-radius: 14px;
}

#pjw-menu .pjw-menu-button {
  height: 46px;
}

#pjw-menu .mdc-button__label {
  margin-right: 4px;
}

#pjw-menu .pjw-menu-button--inserted {
  margin: 0 5px;
  padding: 0 4px;
  height: 28px;
}

#pjw-menu .pjw-menu-button--inserted .mdc-button__label {
  letter-spacing: .75px;
}

#pjw-menu .material-icons-round {
  margin: 0 3px;
}

.pjw-xk-welcome-wrapper {
  margin: 4px 32px 12px 32px;
  display: flex;
  flex-direction: column;
}

.pjw-xk-welcome-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
}

.pjw-xk-welcome-option label {
  opacity: .8;
  margin: 0 6px;
}

.pjw-xk-welcome-subsection {
  margin: 2px 16px;
  display: flex;
  flex-direction: column;
}

.pjw-xk-welcome-card {
  padding: 12px 24px;
  background: linear-gradient(50deg, rgba(99, 6, 95, 0.9) 0%, rgba(93, 42, 175, 0.9) 60%, rgba(255, 71, 71, 0.9) 100%);
  color: white;
}

.pjw-xk-welcome-card > p {
  opacity: .87;
}

.pjw-xk-welcome-link-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 12px 0;
}

.pjw-xk-welcome-card a {
  color: white;
  opacity: 0.6;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.pjw-xk-welcome-card a:hover {
  opacity: 0.9;
}

.pjw-xk-welcome-link-container > a {
  margin-right: 16px;
}

.pjw-xk-welcome-link-container > a:hover {
  margin-right: 4px;
}

.pjw-xk-welcome-link-container > a:hover::after {
  content: "arrow_right";
  font-family: "Material Icons Round";
}

#pjw-captcha-config {
  cursor: pointer;
  user-select: none;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  padding: 1px 3px;
}

#pjw-captcha-config:hover {
  font-weight: bold;
}

.login-div,.cv-login,.cv-user {
  height: auto !important;
}

/* Original functions */
#Function.light {
  background: rgba(0, 0, 0, .15);
}

#Function.light.main-page-function {
  background: none;
  padding: 0;
}

#Function.light > ul > li {
  background: rgba(255, 255, 255, .5);
}

#Function.light > ul > li a {
  color: rgba(0, 0, 0, .6) !important;
}

#Function.light > ul > li a > img {
  opacity: 1;
}

#Function {
  border-radius: 18px;
  background: rgba(0, 0, 0, .6);
  padding: 10px;
  transform: background 1.2s ease-in;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

:not(.pjw-card) #Function {
  margin: 25px !important;
}

.pjw-card #Function {
  margin: 5px !important;
}

#Function > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#Function > ul > li {
  border-radius: 8px;
  padding: 20px 6px;
  margin: 5px 3px;
  transition: all .4s cubic-bezier(0, 1, 1, 1) .1s;
  background: var(--black);
  user-select: none;
}

#Function > ul > li:hover {
  /*transform: matrix(0.90, 0, 0, 1.03, 0, 0);*/
  padding: 20px 0;
  margin: 5px 9px;
  border-radius: 24px;
  background: rgba(0, 0, 0, .7);
}

#Function.main-page-function > ul > li:hover {
  transform: matrix(0.96, 0, 0, 1, 0, -10);
  padding: 20px 6px;
  margin: 5px 3px;
}

#Function > ul > li:active {
  transform: matrix(0.92, 0, 0, 0.92, 0, 0);
  background: rgba(0, 0, 0, .9);
}

#Function.main-page-function > ul > li:active {
  transform: matrix(0.92, 0, 0, 0.92, 0, -2);
  background: rgba(0, 0, 0, .9);
}

#Function > ul > li:hover a {
  color: var(--white) !important;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1.2);
}

#Function > ul > li:hover a:after {
  content: ">";
  margin-left: 3px;
  font-size: 12px;
}

#Function > ul > li a {
  color: var(--white) !important;
  font-size: 120%;
  transition: all .2s ease-out;
}

#Function > ul > li a > img {
  opacity: 0;
  transition: all .17s ease-in;
  width: 50%;
}

#Function > ul > li:hover a > img {
  transform: scale(1.1);
}

/* Legacy filter & toolbar */
#potatojw_mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 9000;
}
#potatojw_filter_setting_frame {
  display: none;
  position: fixed;
  left: 15%;
  top: 15%;
  bottom: 5px;
  width: 70%;
  height: auto;
  z-index: 9001;
  background-color: #63065f;
  border-radius: 8px;
  padding: 15px;
  color: white;
  overflow: auto;
}
.filter_section {
  display: none;
}
#filter-control-bar {
  user-select: none;
}
#filter-control-bar > section {
  float: left;
  margin-right: 25px;
  margin-bottom: 5px;
}
#pjw-toolbar-collapse-bg {
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: #63065f;
  border-radius: 18px 0 0 18px;
  transition: background-color .2s ease-out;
  cursor: pointer;
}
#pjw-toolbar-collapse-bg:hover {
  background-color: rgba(255, 255, 255, .6);
}
#pjw-toolbar-collapse {
  background-color: white;
  cursor: pointer;
  border: 2px solid #63065f;
  position: absolute;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  left: 0;
  top: calc(50% - 17px);
  border-radius: 50%;
  padding: 0;
  transition: transform .3s ease-out, left .2s ease-out, bottom .2s ease-out;
}

.pjw-login-field {
  width: 100%;
  margin: 12px 0;
}

.pjw-login-button {
  margin: 8px;
}

#pjw-login-submit-button:not([disabled]) {
  background-color: rgb(30, 50, 180);
}

.click-to-show {
  font-size: 18px;
  opacity: .6;
  transition: opacity .2s ease-out;
  cursor: pointer;
}

.click-to-show:hover {
  opacity: 1;
}

.pjw-mini-brand {
  user-select: none;
  margin-top: 3px;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pjw-mini-brand > p {
  text-align: center;
  color: rgba(0, 0, 0, .5);
  margin: 3px;
}
.pjw-mini-brand > span {
  margin-right: 6px;
  color: rgba(0, 0, 0, .5);
}